<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <h3>ShortURL: <%= url.short %></h3>
  <% if(auth) { %>
    <form method="POST" action=<%= `/urls/${url.short}?_method=PUT` %>>
      <input type="text" style="width:300px" name="longURL" value=<%= url.long %>>
      <input type="submit" value="Update">
    </form>
    <div>Created on <%= url.created %></div>
    <div><%= analytics.visits %> visits from <%= analytics.visitors %> unique visitors.</div>
    <% if(analytics.history.length > 0) {%>
      <table>
        <tr>
          <td>Visitor:</td>
          <td>Time:</td>
        </tr>
        <% for(const visit of analytics.history) { %>
          <tr>
            <td><%= visit.visitor %></td>
            <td><%= visit.time %></td>
          </tr>
        <% } %>
      </table>
    <% } %>
  <% } else { %>
    <div><%= url.short %> &rarr; <a href=<%= `/u/${url.short}` %>><%= url.long %></a></div>
    <br>
    <div>If you created this ShortURL, <a href="/login">login</a> to edit it.</div>
  <% } %>
  <br>
  <a href="/urls">Back to List</a>
</body>

</html>