<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table>
    <% for (const id in urls) { %>
      <% const url = urls[id] %>
      <tr></tr>
        <form method="POST" action=<%= `/urls/${url.short}/delete` %>>
          <td><a href=<%= `/urls/${url.short}` %>><%= url.short %></a> &rarr; </td>
          <td><a href=<%= `/u/${url.short}` %>><%= url.long %></a></td>
          <td><input type="submit" value="Delete"></td>
        </form>
      </tr>
      <% } %>
  </table>
  <br>
  <a href="/urls/new">Shorten New URL</a>
</body>

</html>